<div class="card">
    <%= image_tag(post.image, class: :card__img) %>
  <div class="card__body">
    <%= post.title %>
    <p class="card__summary"><%= post.today_weight %></p>
    <p class="card__summary"><%= post.today_comment %></p>
  </div>
</div>