<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>オリジナルアプリ</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= image_tag "glen-carrie-YtLAiN5YJ-8-unsplash.jpg", class:"list-pict" %>
    <main class="main">
      <div class="inner">
          <h1 class="page-head">My Goal</h1>
          <div class="card__wrapper">
              <% @posts.each do |post| %>
                <ul class="card">
                    <%= link_to image_tag(post.image, class: :card__img), post_path(post.id) %>
                    <li class="card__summary">
                      <%= post.genre %><br />
                      <%= link_to "#{post.user.nickname}" %>
                    </li>
                </ul>
              <% end %>
          </div>
      </div>
    </main>
    <footer>
    </footer>
  </body>
</html>