.contact {
  height: 800px;
  background-color: lightgoldenrodyellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* テキスト全体を修飾 */
.contact-form {
  width: 600px;
}

/* 私の目標、いつまでに？を修飾 */
.name-form {
  margin: 0 auto 10px;
  border-radius: 5px;
}

/* ひとことコメントを修飾 */
.message-form {
  height: 150px;
  margin: 0 auto 30px;
  border-radius: 5px;
}

.name-form,
.message-form {
  width: 500px;
  padding: 15px;
  border: 1px solid black;
  display: block;
}

.send {
  width: 200px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid black;
  color: white;
  background-color: skyblue;
  display: block;
}

.blue {
  color: red;
  font-size: 15px;
}