/* リセットCSS */

/* トップページ背景画像 */
 .list-pict {
  width: 100vw;
  height: 100%;
 }

 .start {
   font-size: 38px;
   text-align: center;
   margin-top: 20px;
 }

 .field {
   font-size: 16px;
   width: 300px;
   height: 100px;
   margin-left: 100px;
   margin: 10px 0;
  }

  .fields {
    font-size: 16px;
    width: 300px;
    height: 50px;
    margin-left: 100px;
    margin: 10px 0;
   }

 .content {
   background-color: lightblue;
   margin: 10px 0;
   font-size: 15px;
 }