.header {
  background-color: lightseagreen;
  padding: 20px 0;
}

.logo {
  width: 100px;
}

.page-head {
  font-size: 30px;
  margin: 40px 40px;
}

.search_container{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 260px;
  overflow: hidden;
}


.card {
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
}

.card__img {
  margin-bottom: 16px;
}

.card__summary {
  font-size: 16px;
  text-align: center;
}
/* 
.footer {
  background-color: #999;
  padding: 10px 0;
}

.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
} */