/* リセットCSS */

 .list-pict {
  position: absolute;
  background-image: url(dqwalk.jpeg);
  width: 100vw;
  height: 100%;
 }

 .blackboard {
  position: relative;
  top: 20px;
  margin: 0 30px;
  padding: 25px 30px;
  font-size: 20px;
  color: pink;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 0 0 4px wheat inset;
  background-color: black;
 }

 .blackboard.answer p {
  margin-left: 28px;
 }

 .blackboard .blink-before {
  font-size: 20px;
 }

 .blackboard a {
  text-decoration: none;
  color: white;
 }

 .blackboard .blink-before::before {
  content: '▶';
  position: absolute;
  left: 25px;
  animation: blink 2.0s infinite;
 }

 .float-r {
  float: left;
  margin-top: 15px;
 }

 /* 回り込み解除 */
 /* .clearfix {
  zoom: 1;
 } */

 /* .clearfix:after {
  clear: both;
  content: "";
  display: block; */
 /* } */

 @keyframes blink {
  50% { opacity: 0; }
 }

 @-webkit-keyframes blink {
  50% { opacity: 0; }
 }

 .start {
   font-size: 38px;
   margin-left: auto;
   margin-right: auto;
 }

 .page-heading {
  position: relative;
  top: 20px;
  margin: 0 30px;
  padding: 25px 30px;
  font-size: 20px;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 0 0 4px wheat inset;
  background-color: black;
 }

 .field {
   font-size: 16px;
   width: 300px;
   height: 100px;
 }

 .card__body {
   font-size: 20px;
 }

 .content {
   background-color: lightblue;
   margin: 10px 0;
   font-size: 15px;
 }

 .registration-new-select {
   font-size: 15px;
   width: 33%;
   height: 80%;
 }

 .registration-new-profile {
   font-size: 15px;
   width: 40%;
   height: 120%;
 }

.registration-new-submit {
  width: 25%;
  height: 30px;
}

/* body,html {
  margin: 0;
  padding: 0;
}

.img {
  position: relative;
  background-image:url("dqwalk.jpeg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img::before {
  content:  '';
  display: block;
  padding-top: 50%;
} */

.contact {
  height: 800px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  width: 600px;
}

.name-form {
  margin-bottom: 10px;
}

.message-form {
  height: 150px;
  margin-bottom: 30px;
}

.name-form,
.message-form {
  width: 500px;
  padding: 15px;
  border: 1px solid white;
  display: block;
}

/* トップページの写真の大きさ及びコメントの配置など */
.item-lists {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

/* トップページのイメージの大きさの調整 */
.item-image {
  width: 90%;
}